* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.form-control:focus,
.form-check-input:focus {
  border-color: #8b21fd !important;
  box-shadow: 0 0 0 0.25rem #8b21fd18 !important;
}

.form-control::placeholder,
.form-password::placeholder {
  font-size: 13px !important;
  color: #4d4d4d;
}
.form-check-input:checked {
  background-color: #8b21fd !important;
  border-color: #8b21fd !important;
}
